@import url('https://use.typekit.net/npd1kgb.css');

html {
  font-family: -apple-system, Inter, Lato, 'Lato', 'Helvetica Neue',
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
}

h1,
h2 {
  font-family: 'p22-mackinac-pro', Georgia, serif;
}
